body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

/* Styles for light mode */
.light-mode {
  background-color: #f2f2f2;
  color: #333;
}

/* Styles for dark mode */
.dark-mode {
  background-color: #333;
  color: #f2f2f2;
}

.navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  flex-grow: 1;
}

.navbar-links ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-links li{
  flex: 1;
}

.navbar-links li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #000;
}

#navbar-links ul li a:hover {
  color: #ff9900;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-links{
    display: none;
  }

  .navbar-links.active{
    display: flex;
  }

  .navbar.toggle{
    display: block;
  }

  .navbar.toggle i{
    font-size: 20px;
    color: #fff;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar li {
    /* float: auto; */
    /* display: block; */
    text-align: center;
    margin: 5px 0;
  }

  .navbar li a {
    padding: 10px;
  }

  .navbar li:last-child {
    margin-bottom: 20px;
  }
}

.content {
  margin-top: 80px;
  height: 1000px;
  padding-top: 40px;
}

.toggle {
  cursor: pointer;
}

.toggle::before {
  content: "";  
  position: absolute;
  top: 2px;
  right: 2px;
  width: 40px;
  height: 16px;
  border-radius: 8px;
  background-color: #ccc;
  transition: all 0.3s ease;
}

.toggle::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.dark-mode .toggle::before {
  background-color: #555;
}

.dark-mode .toggle::after {
  right: calc(2% - 10px);
}

h2 {
  margin: auto;
  width: 100%;
  font-family: "TwentiethCenturyW01-XBdCn", sans-serif;
  text-align: center;
}

p {
  margin-left: 15%;
  margin-right: 15%;
  word-spacing: 2px;
}

.phome{
  font-size: large;
}

img{
  margin-left: 287px;
}